/*===== google font  =====*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

/*============ common styles starts ============*/
:root {
    --primary-color: #131313;
    --secondary-color: #424242;
    --tertiary-color: #727272;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

a {
    text-decoration: none;
}

header,
main, 
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 992px;
}

.button a {
    display: inline-block;
    color: white;
    padding: 20px 25px;
    background-color: #FF900E;
    border-radius: 8px;
}

.navber-title>h2,
.feature-title,
.fact>h2,
.sponser-container>h2 {
    font-weight: 700;
    font-size: 2em;
    color: var(--primary-color);
}

.banner-bottom>img,
.quick-list-image-item>img,
.feature-image>img,
.sponser-logo-item>img {
    width: 100%;
}

/*============== common styles ends ===============*/

/*===== header area starts  =====*/
header {
    background-color: #fff4e7;
}

.navber {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    align-items: center;
}

.navber-items ul {
    display: flex;
    gap: 60px;
    list-style: none;
}

.navber-items ul li a {
    color: var(--secondary-color);
    font-size: 18px;
}

.banner-top {
    text-align: center;
    width: 75%;
    margin: 80px auto auto auto;
}

.banner-title {
    font-weight: 700;
    font-size: 3em;
}

.banner-detail {
    color: var(--tertiary-color);
    margin: 30px 0;
    width: 868px;
}

.banner-bottom {
    margin: 50px 0;
}


/*===== header area ends  =====*/

/*===== quick list area starts  =====*/
.quick-list {
    display: flex;
    gap: 70px;
    /* justify-content: space-between; */
    padding: 80px 0;
}


.quick-list-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.quick-list-image-item {
    width: 250px;
}


.quick-list-detail {
    display: flex;
    align-items: center;
}

.quick-list-title>h2 {
    font-weight: 500;
    font-size: 2em;
    color: var(--tertiary-color)
}

.quick-list-description {
    color: var(--tertiary-color);
    margin: 25px 0;
}

.primary-color {
    color: var(--primary-color);
    font-weight: 700;
}

.orange-color {
    color: #FF900E;
    font-weight: 700;
}

/*===== quick list area ends  =====*/

/*===== feature area starts  =====*/

.feature-container {
    display: flex;
    gap: 50px;
    margin-bottom: 100px;
    position: relative;
}

.feature-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.feature-detail p {
    color: var(--tertiary-color);
    line-height: 26px;
}

.feature-description {
    margin: 25px 0;
}

.feature-item-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.feature-item {
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    width: 90%;
}
.feature-item>h4{
    margin-bottom: 10px;
}

.feature-image, .feature-detail {
    width: 100%;
}
.feature-image>img {
    height: 100%;
    object-fit: cover;
}

.floating-btn{
    padding: 40PX;
    background-color: #FF900E;
    border-radius: 8px;
    color: #FFFFFF;
    position: absolute;
    text-align: center;
    top: 90%;
    left: 46%;
}

.floating-btn>h3{
    font-size: 3em;
}

/*===== feature area ends  =====*/

/*===== fact area starts  =====*/
.fact>p{
    color: var(--tertiary-color);
    margin-top: 20px;
    width: 53%;
}

.fact-container{
    display: flex;
    justify-content: space-between;
    margin: 100px 0;
}

.fact-item{
    padding: 35px 45px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    line-height: 29px;
    transition: 1s;
    z-index: 1;
}
.fact-item:hover{
    background-color: #FF900E;
    opacity: 0.5;
    transform: rotate(360deg) scale(1.2);
}


.fact-item-number h4{
    font-size: 1.5em;
    color: var(--secondary-color);
    font-weight: 600;
}

.fact-item-text p{
    color: var(--tertiary-color);
}

/*===== fact area ends  =====*/

/*===== sponser area starts  =====*/
.sponser{
    margin-bottom: 130px;
}
.sponser-container{
    text-align: center;
}
.sponser-container>p{
    color: var(--tertiary-color);
    width: 543px;
    margin: 20px auto;
}

.sponser-logo-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 50px;
    gap: 55px;
}

.sponser-logo-item{
    width: 150px;
    height: 50px;
    filter: grayscale(1);
}
/*===== sponser area ends  =====*/

/*===== footer area starts  =====*/
footer{
    background-color: #FFF4E7;
    margin: 0 auto;
    padding: 40px;
    font-size: 1.2em;
    color: var(--secondary-color);
}
/*===== footer area ends  =====*/

/*===== responsive for mobile device =====*/

@media only screen and (max-width: 576px) {

    .container,
    .banner-detail,
    .quick-list-image-item,
    .sponser-container>p {
        width: 100%;
    }

    .navber,
    .navber-items ul,
    .quick-list,
    .feature-container,
    .fact-container {
        flex-direction: column;
        gap: 40px;
    }

    .quick-list-image, .sponser-logo-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .quick-list-detail {
        text-align: center;
        padding: 0 20px;
    }

    .feature-detail p{
        padding: 15px;
    }
    .feature-item{
        width: 100%;
    }
    .floating-btn{
        position: static;
        border-radius: 0;
    }

    .fact{
        text-align: center;
    }
    .fact>p{
        width: 100%;
    }
    .fact-item:hover{
        transform: none;
    }
    .sponser-container{
        padding: 20px;
    }
    .sponser-logo-container{
        justify-items: center;
    }
}